.title h2{
    text-align: center;
    padding: 40px 0 20px 0;
    margin: 10px 0;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: #2b2457;
    font-weight: 300;
}