
.gallery img{
    width: 220px;
    margin: 0 5px;
    border-radius: 5px;
}

.gallery .big-img{
    height: 330px;
}


/* Media Query */

@media (max-width: 1300px){
    
    .gallery{
        margin-left: 10px;

    }
    .gallery img{
        width: 200px;
    }
}
